* *::before *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--lightGray);
    align-items: center;
    justify-content: center;
    display: flex;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 255px;
    height: auto;
    font-size: 15px;
    background-color: var(--White);
    padding: 16px;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 0.7rem 1.5rem rgb(0 0 0 / 10%);
}

.container p {
    color: var(--grayishBlue);
}

.container h2 {
    color: var(--darkBlue);
}

.container img {
    width: 255px;
    height: auto;
    border-radius: 16px;
}

/* link */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    
}